  <div id="registers">
    <h2>Registers</h2>
    <%= display_registers %>
  </div>
  <div id="main_memory">
    <h2>Main Memory</h2>
    <table cellpadding="0" cellspacing="0" class="cells">
    <% (1..16).each do %>
      <tr>
        <td><div id="A1"><span>00</span><span class="hex">FF</span></div></td>
        <td><div id="A1"><span>00</span><span class="hex">FF</span></div></td>
        <td><div id="A1"><span>00</span><span class="hex">FF</span></div></td>
        <td><div id="A1"><span>00</span></div></td>
        <td><div id="A1"><span>00</span></div></td>
        <td><div id="A1"><span>00</span></div></td>
        <td><div id="A1"><span>00</span></div></td>
        <td><div id="A1"><span>00</span></div></td>
        <td><div id="A1"><span>00</span></div></td>
        <td><div id="A1"><span>00</span></div></td>
        <td><div id="A1"><span>00</span></div></td>
        <td><div id="A1"><span>00</span></div></td>
        <td><div id="A1"><span>00</span></div></td>
        <td><div id="A1"><span>00</span></div></td>
        <td><div id="A1"><span>00</span></div></td>
        <td><div id="A1"><span>00</span></div></td>
      </tr>
    <% end %>
    </table>
  </div>
  <div id="control">
    <%= erb :control_panel, :layout => false %>
    <%= erb :stdout, :layout => false %>
    <%= erb :stderr, :layout => false %>
    <%= erb :legend, :layout => false %>
  </div>
