  <div id="registers">
    <h2>Registers</h2>
    <%= display_registers %>
  </div>
  <div id="main_memory">
    <h2>Main Memory</h2>
    <%= display_main_memory %>
  </div>
  <div id="control">
    <%= erb :control_panel, :layout => false %>
    <%= erb :stdout, :layout => false %>
    <%= erb :legend, :layout => false %>
  </div>
